@import "~normalize.css";
.broken {
  background: yellow;
}

.flex__test {
  display: flex;
}

.failed {
  background: red;
}

.test__header_item {
  box-sizing: border-box;

  margin: 0.2cm;
}

.passed {
  background: green;
}